Src/library/vision2/components/generator/xml_files/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.0.7 NT (http://www.xmlspy.com) by Julian Rogers (ISE) -->
<!--W3C Schema generated by XML Spy v3.0.7 NT (http://www.xmlspy.com)-->
<!--DOCTYPE xsd:schema PUBLIC "-//W3C//DTD XMLSCHEMA 19991216//EN" "" [<!ENTITY % p 'xsd:'><!ENTITY % s ':xsd'>]-->
<xsd:schema xmlns:xsd="http://www.w3.org/1999/XMLSchema">
	<!-- Action sequences -->
	<xsd:simpleType name="EV_NOTIFY_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_FOCUS_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_KEY_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_KEY_STRING_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_POINTER_BUTTON_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_POINTER_MOTION_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_PROXIMITY_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_GEOMETRY_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_PND_ACTION_SEQUENCE" base="xsd:string"/>
	<xsd:simpleType name="EV_PND_START_ACTION_SEQUENCE" base="xsd:string"/>
	<!-- FIXME We need better organisation in this file.-->
	<xsd:simpleType name="ANY" base="xsd:string"/>
	<xsd:simpleType name="FUNCTION" base="xsd:string"/>
	<!-- Inherited through Interface -->
	<xsd:complexType name="EV_BUTTON_ACTION_SEQUENCES">
		<xsd:element name="select_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_WINDOW_ACTION_SEQUENCES">
		<xsd:element name="close_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="move_actions" type="EV_GEOMETRY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_WIDGET_ACTION_SEQUENCES">
		<xsd:element name="focus_in_actions" type="EV_FOCUS_ACTION_SEQUENCE"/>
		<xsd:element name="focus_out_actions" type="EV_FOCUS_ACTION_SEQUENCE"/>
		<xsd:element name="key_press_actions" type="EV_KEY_ACTION_SEQUENCE"/>
		<xsd:element name="key_press_string_actions" type="EV_KEY_STRING_ACTION_SEQUENCE"/>
		<xsd:element name="key_release_actions" type="EV_KEY_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_button_press_actions" type="EV_POINTER_BUTTON_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_button_release_actions" type="EV_POINTER_BUTTON_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_double_press_actions" type="EV_POINTER_BUTTON_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_enter_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_leave_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_motion_actions" type="EV_POINTER_MOTION_ACTION_SEQUENCE"/>
		<xsd:element name="proximity_in_actions" type="EV_PROXIMITY_ACTION_SEQUENCE"/>
		<xsd:element name="proximity_out_actions" type="EV_PROXIMITY_ACTION_SEQUENCE"/>
		<xsd:element name="resize_actions" type="EV_GEOMETRY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_PICK_AND_DROPABLE_ACTION_SEQUENCES">
		<xsd:element name="conforming_pick_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="drop_actions" type="EV_PND_ACTION_SEQUENCE"/>
		<xsd:element name="pick_actions" type="EV_PND_START_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_CONTAINER_ACTION_SEQUENCES">
		<xsd:element name="new_item_actions" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_GAUGE_ACTION_SEQUENCES">
		<xsd:element name="change_actions" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXT_COMPONENT_ACTION_SEQUENCES">
		<xsd:element name="change_actions" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXT_FIELD_ACTION_SEQUENCES">
		<xsd:element name="return_actions" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_LIST_ITEM_LIST_ACTION_SEQUENCES">
		<xsd:element name="select_actions" type="xsd:string"/>
		<xsd:element name="deselect_actions" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_ITEM_ACTION_SEQUENCES">
		<xsd:element name="select_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="deselect_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_LIST_ACTION_SEQUENCES">
		<xsd:element name="pointer_motion_actions" type="EV_POINTER_MOTION_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_button_press_actions" type="EV_POINTER_BUTTON_ACTION_SEQUENCE"/>
		<xsd:element name="pointer_double_press_actions" type="EV_POINTER_BUTTON_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_MENU_ITEM_ACTION_SEQUENCES">
		<xsd:element name="select_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TREE_ACTION_SEQUENCES">
		<xsd:element name="deselect_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="select_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TREE_NODE_ACTION_SEQUENCES">
		<xsd:element name="select_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="deselect_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="expand_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
		<xsd:element name="collapse_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	
	<xsd:complexType name="EV_NOTEBOOK_ACTION_SEQUENCES">
		<xsd:element name="selection_actions" type="EV_NOTIFY_ACTION_SEQUENCE"/>
	</xsd:complexType>
	<xsd:complexType name="value_range">
		<xsd:element name="upper" type="xsd:integer"/>
		<xsd:element name="lower" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_COLORIZABLE">
		<xsd:element name="background_color" type="EV_COLOR"/>
		<xsd:element name="foreground_color" type="EV_COLOR"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TOOLTIPABLE">
		<xsd:element name="tooltip" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXTABLE">
		<xsd:element name="alignment" type="xsd:string"/>
		<!-- Alignment must be left, right, center. Change this so only those values are allowed.-->
		<xsd:element name="text" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_SELECTABLE">
		<xsd:element name="is_selected" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="EV_PIXMAPABLE">
		<xsd:element name="pixmap" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_ABSTRACT_PICK_AND_DROPABLE">
		<xsd:element name="target_name" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_PICK_AND_DROPABLE">
		<xsd:element ref="EV_ABSTRACT_PICK_AND_DROPABLE"/>
		<xsd:element ref="EV_PICK_AND_DROPABLE_ACTION_SEQUENCES"/>
		<xsd:element name="mode_is_drag_and_drop" type="xsd:boolean"/>
		<xsd:element name="mode_is_pick_and_drop" type="xsd:boolean"/>
		<xsd:element name="mode_is_target_menu" type="xsd:boolean"/>
		<xsd:element name="pebble" type="ANY"/>
		<xsd:element name="pebble_function" type="FUNCTION"/>
	</xsd:complexType>
	<xsd:complexType name="EV_WIDGET">
		<xsd:element ref="EV_PICK_AND_DROPABLE"/>
		<xsd:element ref="EV_SENSITIVE"/>
		<xsd:element ref="EV_COLORIZABLE"/>
		<xsd:element ref="EV_POSITIONED"/>
		<xsd:element ref="EV_WIDGET_ACTION_SEQUENCES"/>
		<xsd:element name="actual_drop_target_agent" type="FUNCTION"/>
		<xsd:element name="is_show_requested" type="xsd:boolean"/>
		<xsd:element name="expandable" type="xsd:boolean"/>
		<xsd:element name="has_focus" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="EV_PRIMITIVE" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_TOOLTIPABLE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_POSITIONED">
		<xsd:element name="minimum_height" type="xsd:integer"/>
		<xsd:element name="minimum_width" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_POSITIONABLE">
		<xsd:element name="x_position" type="xsd:integer"/>
		<xsd:element name="y_position" type="xsd:integer"/>
		<xsd:element name="width" type="xsd:integer"/>
		<xsd:element name="height" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_FONTABLE">
		<xsd:element name="font" type="EV_FONT"/>
	</xsd:complexType>
	<xsd:complexType name="EV_SENSITIVE">
		<xsd:element name="is_sensitive" type="xsd:boolean"/>
	</xsd:complexType>
	<!-- Objects which we need to hold more than one value -->
	<xsd:complexType name="EV_COLOR">
		<xsd:element name="red" type="xsd:integer"/>
		<xsd:element name="green" type="xsd:integer"/>
		<xsd:element name="blue" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_FONT">
		<xsd:element name="family" type="xsd:string"/>
		<xsd:element name="height" type="xsd:integer"/>
		<xsd:element name="name" type="xsd:string"/>
		<xsd:element name="preferred_face" type="xsd:string"/>
		<xsd:element name="preferred_faces" type="xsd:string"/>
		<xsd:element name="shape" type="xsd:string"/>
		<xsd:element name="system_name" type="xsd:string"/>
		<xsd:element name="weight" type="xsd:string"/>
	</xsd:complexType>
	<!--	We have a basic text component which is not derived from primitive, to stop widgets such as SPIN_BUTTON
		having to specify the primitive information twice in their structure-->
	<xsd:complexType name="EV_TEXT_COMPONENT_BASIC">
		<xsd:element ref="EV_TEXT_COMPONENT_ACTION_SEQUENCES"/>
		<xsd:element name="caret_position" type="xsd:integer"/>
		<xsd:element name="is_editable" type="xsd:boolean"/>
		<xsd:element name="text" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXT_COMPONENT" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_TEXT_COMPONENT_ACTION_SEQUENCES"/>
		<xsd:element name="caret_position" type="xsd:integer"/>
		<xsd:element name="is_editable" type="xsd:boolean"/>
		<xsd:element name="text" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXT_FIELD_BASIC">
		<xsd:element ref="EV_TEXT_COMPONENT_BASIC"/>
		<xsd:element ref="EV_TEXT_FIELD_ACTION_SEQUENCES"/>
		<xsd:element name="capacity" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TEXT_FIELD">
		<xsd:element ref="EV_TEXT_COMPONENT"/>
		<xsd:element ref="EV_TEXT_FIELD_ACTION_SEQUENCES"/>
		<xsd:element name="capacity" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_SPIN_BUTTON" base="EV_GAUGE" derivedBy="extension">
		<xsd:element ref="EV_TEXT_FIELD_BASIC"/>
	</xsd:complexType>
	<!-- Widgets -->
	<xsd:complexType name="EV_BUTTON" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_TEXTABLE" minOccurs="1"/>
		<xsd:element ref="EV_PIXMAPABLE"/>
		<xsd:element ref="EV_BUTTON_ACTION_SEQUENCES"/>
		<xsd:element name="is_default_push_button" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_VERTICAL_SEPARATOR" base="EV_PRIMITIVE" derivedBy="extension">
	</xsd:complexType>
	<xsd:complexType name="EV_HORIZONTAL_SEPARATOR" base="EV_PRIMITIVE" derivedBy="extension">
	</xsd:complexType>
	<xsd:complexType name="EV_TOGGLE_BUTTON" base="EV_BUTTON" derivedBy="extension">
		<xsd:element ref="EV_SELECTABLE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_LIST_ITEM_LIST" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_LIST_ITEM_LIST_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_LIST_ITEM" maxOccurs="unbounded"/>
	</xsd:complexType>
	<xsd:complexType name="EV_LIST_ITEM" base="EV_ITEM" derivedBy="extension">
		<xsd:element ref="EV_TEXTABLE"/>
		<xsd:element ref="EV_SELECTABLE"/>
		<xsd:element ref="EV_TOOLTIPABLE"/>
		<xsd:element ref="EV_LIST_ITEM_ACTION_SEQUENCES"/>
	</xsd:complexType>
	<xsd:complexType name="EV_MENU_ITEM" base="EV_ITEM" derivedBy="extension">
		<xsd:element ref="EV_TEXTABLE"/>
		<xsd:element ref="EV_SENSITIVE"/>
		<xsd:element ref="EV_MENU_ITEM_ACTION_SEQUENCES"/>
	</xsd:complexType>
	<xsd:complexType name="EV_MENU" base="EV_MENU_ITEM" derivedBy="extension">
		<xsd:element ref="EV_MENU_ITEM_LIST_ACTION_SEQUENCES"/>
		<!-- Should really be of type EV_MENU_ITEM, but spy ++ does not like it currently"/-->
		<xsd:element name="item" type="EV_ITEM" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:complexType>
	<xsd:complexType name="EV_ITEM">
		<xsd:element ref="EV_PICK_AND_DROPABLE"/>
		<xsd:element ref="EV_PIXMAPABLE"/>
		<xsd:element ref="EV_ITEM_ACTION_SEQUENCES"/>
	</xsd:complexType>
	<xsd:complexType name="EV_LIST" base="EV_LIST_ITEM_LIST" derivedBy="extension">
		<xsd:element name="multiple_selection_enabled" type="xsd:boolean"/>
		<xsd:element name="pixmaps_height" type="xsd:integer"/>
		<xsd:element name="pixmaps_width" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TREE" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_TREE_ACTION_SEQUENCES"/>
		<!-- spy ++ does not like this either????????-->
		<!--xsd:element name="item" type="EV_ITEM" minOccurs="0" maxOccurs="unbounded"/-->
		<xsd:element name="pixmaps_height" type="xsd:integer"/>
		<xsd:element name="pixmaps_width" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TREE_ITEM" base="EV_TREE_NODE" derivedBy="extension">
	</xsd:complexType>
	<xsd:complexType name="EV_TREE_NODE" base="EV_ITEM" derivedBy="extension">
		<xsd:element ref="EV_TEXTABLE"/>
		<xsd:element ref="EV_SELECTABLE"/>
		<xsd:element ref="EV_TOOLTIPABLE"/>
		<xsd:element ref="EV_TREE_NODE_ACTION_SEQUENCES"/>
		<xsd:element name="is_expanded" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="EV_CHECK_BUTTON" base="EV_TOGGLE_BUTTON" derivedBy="extension"/>
	<xsd:complexType name="EV_RADIO_BUTTON" base="EV_TOGGLE_BUTTON" derivedBy="extension"/>
	<xsd:complexType name="EV_LABEL" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_TEXTABLE"/>
		<xsd:element ref="EV_FONTABLE"/>
	</xsd:complexType>
	<xsd:complexType name="EV_DRAWING_AREA" base="EV_PRIMITIVE" derivedBy="extension"/>
	<xsd:complexType name="EV_GAUGE" base="EV_PRIMITIVE" derivedBy="extension">
		<xsd:element ref="EV_GAUGE_ACTION_SEQUENCES"/>
		<xsd:element ref="value_range"/>
		<xsd:element name="leap" type="xsd:integer"/>
		<xsd:element name="step" type="xsd:integer"/>
		<xsd:element name="value" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_HORIZONTAL_SCROLL_BAR" base="EV_GAUGE" derivedBy="extension"/>
	<xsd:complexType name="EV_VERTICAL_SCROLL_BAR" base="EV_GAUGE" derivedBy="extension"/>
	<xsd:complexType name="EV_HORIZONTAL_RANGE" base="EV_GAUGE" derivedBy="extension"/>
	<xsd:complexType name="EV_VERTICAL_RANGE" base="EV_GAUGE" derivedBy="extension"/>
	<xsd:complexType name="EV_WINDOW" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element ref="EV_POSITIONABLE"/>
		<xsd:element ref="EV_WINDOW_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_WIDGET" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="is_modal" type="xsd:boolean"/>
		<xsd:element name="lower_bar" type="xsd:string"/>
		<xsd:element name="maximum_height" type="xsd:integer"/>
		<xsd:element name="maximum_width" type="xsd:integer"/>
		<xsd:element name="menu_bar" type="xsd:boolean"/>
		<xsd:element name="title" type="xsd:string"/>
		<xsd:element name="upper_bar" type="xsd:string"/>
		<xsd:element name="user_can_resize" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="EV_TITLED_WINDOW" base="EV_WINDOW" derivedBy="extension">
		<xsd:element name="accelerators" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="icon_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="icon_pixmap" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	</xsd:complexType>
	<xsd:complexType name="EV_CELL" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_WIDGET" minOccurs="0" maxOccurs="1"/>
	</xsd:complexType>
	<xsd:complexType name="EV_VIEWPORT" base="EV_CELL" derivedBy="extension">
		<xsd:element name="x_offset" type="xsd:integer"/>	
		<xsd:element name="y_offset" type="xsd:integer"/>	
	</xsd:complexType>
	<xsd:complexType name="EV_SCROLLABLE_AREA" base="EV_VIEWPORT" derivedBy="extension">
		<xsd:element name="horizontal_step"/>
		<xsd:element name="is_horizontal_scroll_bar_visible" type="xsd:integer"/>	
		<xsd:element name="is_vertical_scroll_bar_visible" type="xsd:integer"/>
		<xsd:element name="vertical_step"/>
	</xsd:complexType>
	<xsd:complexType name="EV_VERTICAL_SPLIT_AREA" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element name="split_position" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_HORIZONTAL_SPLIT_AREA" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element name="split_position" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_FRAME" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element ref="EV_TEXTABLE"/>
		<xsd:element name="item" type="EV_WIDGET" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="style"/>
	</xsd:complexType>
	<xsd:complexType name="EV_VERTICAL_BOX" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_WIDGET" maxOccurs="unbounded"/>
		<xsd:element name="border_width" type="xsd:integer"/>
		<xsd:element name="is_homogeneous" type="xsd:boolean"/>
		<xsd:element name="padding" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_HORIZONTAL_BOX" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_WIDGET" maxOccurs="unbounded"/>
		<xsd:element name="border_width" type="xsd:integer"/>
		<xsd:element name="is_homogeneous" type="xsd:boolean"/>
		<xsd:element name="padding" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="EV_NOTEBOOK" base="EV_WIDGET" derivedBy="extension">
		<xsd:element ref="EV_CONTAINER_ACTION_SEQUENCES"/>
		<xsd:element ref="EV_NOTEBOOK_ACTION_SEQUENCES"/>
		<xsd:element name="item" type="EV_WIDGET" maxOccurs="unbounded"/>
		<xsd:element name="item_text" type="xsd:string" maxOccurs="unbounded"/>
		<xsd:element name="selected_item_index" type="xsd:integer"/>
		<xsd:element name="tab_position"/>
	</xsd:complexType>
	<xsd:complexType name="application">
		<xsd:element name="window" type="EV_WINDOW" minOccurs="1" maxOccurs="100"/>
	</xsd:complexType>
	<!-- our application-->
	<xsd:element name="application" type="application"/>
</xsd:schema>
